@use '@angular/material' as mat;

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f5f5f5;
}

// Custom snackbar styles
.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

// Spinner styles
mat-spinner {
  margin: 0 auto;
}